nav{
    background-color: #f0f0ef;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
}
nav a{
    color: #723a07 !important;
    font-size: 15px;
    font-weight: bold;
}
nav #last-item{
    border: 2px solid #723a07;
    max-width: 120px;
    text-align: center;
}
nav #last-item:hover{
    background-color: #723a07;
    color: #fff !important;
    transition: .4s ease-in-out;
}
nav img{
    width: 70%;
    height: 50%;
    border-radius: 30px;
}